//
// Forms
//

.form-floating {
  input,
  textarea {
    border-left: 0;
    border-right: 0;
    border-top: 0;

    &:focus {
      box-shadow: none;
    }
  }

  label {
    color: $gray-600;
  }
}

.spinner {
  margin: 5rem auto;
  text-align: center;

  svg {
    height: 6rem;
    width: 6rem;
    fill: black;
    animation: rotate 2s infinite linear;
  }
}
